# --- 通用 ---
.DS_Store
.idea/
.vscode/
*.log

# --- 数据库 (绝对不要传) ---
postgres-data/

# --- 后端 (Spring Boot / Maven) ---
Recipe-BackEnd/target/
Recipe-BackEnd/*.iml
Recipe-BackEnd/.mvn/
Recipe-BackEnd/mvnw
Recipe-BackEnd/mvnw.cmd

uploads/
Dokumentum/

# --- 前端 (Vue / Node) ---
Recipe-FrontEnd/node_modules/
Recipe-FrontEnd/dist/
Recipe-FrontEnd/.env.local