# --- 通用 ---
.DS_Store
.idea/
.vscode/
*.log

# --- 数据库 (绝对不要传) ---
postgres-data/

# --- 后端 (Spring Boot / Maven) ---
Recipe_BackEnd/target/
Recipe_BackEnd/*.iml

uploads/
Dokumentum/

# --- 前端 (Vue / Node) ---
Recipe_FrontEnd/node_modules/
Recipe_FrontEnd/dist/
Recipe_FrontEnd/.env.local