
.DS_Store
.idea/
.vscode/
*.log


postgres-data/


Recipe_BackEnd/target/
Recipe_BackEnd/*.iml

uploads/
Dokumentum/
.worktrees/
docs/


Recipe_FrontEnd/node_modules/
Recipe_FrontEnd/dist/
Recipe_FrontEnd/.env.local
